@model HotelReservation.ViewModels.ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}

<div class="d-flex align-items-center justify-content-center p-5">
    <div class="card col-md-6 py-5 px-3 border-3 rounded-3">
        <h3 class="card-title text-center">@ViewData["Title"]</h3>

        <div class="row card-body">
            <form asp-action="ChangePassword" method="post" class="col-md-12">
                <div class="form-group">
                    <label asp-for="OldPassword" class="control-label font-weight-bold"></label>
                    <input asp-for="OldPassword" class="form-control" type="password" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="NewPassword" class="control-label font-weight-bold"></label>
                    <input asp-for="NewPassword" class="form-control" type="password" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ConfirmNewPassword" class="control-label font-weight-bold"></label>
                    <input asp-for="ConfirmNewPassword" class="form-control" type="password" />
                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <input type="submit" value="Change Password" class="btn btn-primary w-100" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
