@model string

<div class="d-flex align-items-center justify-content-center p-5">
    <div class="card col-md-4 py-5 px-3 border-3 rounded-3">
        <h3 class="card-title text-center">Forget Password</h3>

        <div class="row card-body">
            <form asp-action="ForgetPassword" method="post" class="col-md-12">
                <div class="form-group">
                    <label for="email" class="control-label font-weight-bold">Email</label>
                    <input type="email" class="form-control" name="email" placeholder="Enter your email" required />
                </div>

                <div class="form-group mt-3">
                    <input type="submit" value="Send OTP" class="btn btn-primary w-100" />
                </div>
            </form>
        </div>

        <div class="text-center">
            <a asp-action="Login">Back to Login</a>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
