@model HotelReservation.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class=" d-flex align-items-center justify-content-center p-5">
    <div class="card col-md-4 py-5 px-3 border-3 rounded-3">
        <h3 class="card-title text-center">Login</h3>

        <div class="row card-body">
            <form asp-action="Login" class="col-md-12">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Email" class="control-label font-weight-bold"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password" class="control-label font-weight-bold"></label>
                    <input asp-for="Password" class="form-control" type="password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="RememberMe" />
                        @Html.DisplayNameFor(model => model.RememberMe)
                    </label>
                </div>

                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary w-100" />
                </div>
            </form>
        </div>

        <div class="text-center">
            <a asp-action="Register">Register</a>
        </div>
        <div class="text-center">
            <a asp-action="forgetpassword">Forget Password</a>
        </div>
    </div>
</div>
