@model HotelReservation.ViewModels.VerifyOtpViewModel

<div class="d-flex align-items-center justify-content-center p-5">
    <div class="card col-md-4 py-5 px-3 border-3 rounded-3">
        <h3 class="card-title text-center">Verify OTP</h3>

        <div class="row card-body">
            <form asp-action="VerifyOTPToResetPassword" method="post" class="col-md-12">
                <input type="hidden" asp-for="Email" />

                <div class="form-group">
                    <label for="otp" class="control-label font-weight-bold">Enter OTP</label>
                    <input asp-for="OTP" class="form-control" placeholder="Enter OTP" required />
                    <span asp-validation-for="OTP" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <input type="submit" value="Verify OTP" class="btn btn-primary w-100" />
                </div>
            </form>
        </div>

        <div class="text-center">
            <a asp-action="Login">Back to Login</a>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
